* {
    box-sizing: border-box;
}

.header {
	padding: 30px 40px;
	font-size: 20px;
	color: white;
	text-align: center;
	background-color: #50E536;
}

.title {
	vertical-align: center;
	width: 100%;
}

.unlist {
	list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.unlist li:nth-child(odd) {
    background: #f9f9f9;
}

.unlist li:hover {
 	background-color: #C8C8C8;
 	transition: 0.02s;
}

.unlist li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.input {
	padding: 10px;
	border: 0px;
	width: 65%;
}

.input p {
	vertical-align: baseline;
}

.listitem {
	padding: 5px 0px 5px 10px
}

.listitem li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.deletebutton {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lucida Console';
    width: 4%;
}

.deletebutton:hover {
	background-color: #f44336;
	cursor: hand;
	cursor: pointer;
}

.titlediv {
	display: inline-block;
	font-size: 20px;
	width: 88%;
	margin: auto;
}

.datetime {
	display: inline-block;
	width: 8%;
}

.pressbutton {
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  transition: 0.4s;
  border: 0px;
  width: 24%;
}

.pressbutton p {
	vertical-align: baseline;
}

.pressbutton:hover {
	background-color: #bbb;
}
/*----------------------------------*/

